{% extends 'padre.html' %}
Editar publicación 
{% block content %}

{% if user.is_authenticated %}
     {% if user.id == post.autor.id %}
     <h1>Actualizar publicación</h1>
     <br/><br/>
     <div class="form-group">
     <form method="POST">
     {% csrf_token %}
     {{ form.media }}
     {{ form.as_p }}
    <button class="btn btn-secondary">Actualizar</button>
   </div>
   {%else%}
   No estás autorizado para modificar.
   {%endif%}

{% else %}

No estás autorizado para modificar.

{%endif%}


{% endblock %}