{% extends 'padre.html' %}
Borrar publicación 
{% block content %}

{% if user.is_authenticated %}
  {% if user.id == post.autor.id %}
     <h1>Eliminar publicación</h1>
     <br/><br/>
     <h3>Eliminar: {{post.titulo}}</h3>

    <br/>
     <div class="form-group">
    <form method="POST">
     {% csrf_token %}
     <strong> ¿Estás seguro?</strong><br/><br/>
     <button class="btn btn-secondary">Borrar publicación</button>
  </div>
  {%else%}

  No estás autorizado para borrar.

  {%endif%}

{% else %}

No estás autorizado para borrar.

{%endif%}

{% endblock %}